<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>SC Email Validator</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/animate.min.css">


        <script src="js/modernizr-2.8.3.min.js"></script>

        <!-- Jquery -->
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

        <script src="js/main.js"></script>


    </head>
    <body>

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="wrapper" class="cf">

            <header class="cf">
                <div class="logotitle" class="cf">
                    <img src="http://design.salecycle.com/wp-content/themes/salecycledesign/imgs/SC-logo.svg">
                    <h1>SC Email Validator</h1>
                </div>
                <div class="errorchecklist" class="cf">
                    <a href="#"><h2>Error Checklist</h2>
                    <img src="./imgs/checklisticon2.png"></a>
                </div>
            </header>


            <section id="content">

                <div class="content-left">
                    <div class="codebox">
                        <textarea>Code To Go In Here</textarea>
                    </div>
                    <div class="affbox">
                        <div class="affbtns">
                            <a href="#" class="prelinkbtn activebtn">Pre</a>
                            <a href="#" class="postlinkbtn">Post</a>
                        </div>
                        <p>Correct Affiliate / GA Tracking Link</p>
                        <textarea class="prelink active" onfocus="this.select();" onmouseup="return false;">Insert correct pre-tracking link here</textarea>
                        <textarea class="postlink" onfocus="this.select();" onmouseup="return false;">Insert correct post-tracking link here</textarea>
                    </div>
                    <div class="validatebtn">
                        <a class="validate" href="#">
                        <p>Validate</p></a>
                        </a>
                    </div>
                </div>

                <div class="content-right">

                    <!-- Start of Error Module -->
                    <div class="errormodule cf">
                        <div class="icondiv cf">
                            <span class="helper"></span><img src="./imgs/minoricon.png">
                        </div>
                        <div class="errordiv cf">
                            <p class="errortitle cf">Preheader remains as default</p>
                            <p class="errordesc cf">Line 54 - ‘Don't Miss Out - Complete Your Order Today!’</p>
                        </div>
                    </div>
                     <!-- End of Error Module -->



                     <!-- Start of Error Module -->
                    <div class="errormodule cf">
                        <div class="icondiv cf">
                            <span class="helper"></span><img src="./imgs/minoricon.png">
                        </div>
                        <div class="errordiv cf">
                            <p class="errortitle cf">Preheader remains as default</p>
                            <p class="errordesc cf">Line 54 - ‘Don't Miss Out - Complete Your Order Today!’</p>
                        </div>
                    </div>
                     <!-- End of Error Module -->



                     <!-- Start of Error Module -->
                    <div class="errormodule cf">
                        <div class="icondiv cf">
                            <span class="helper"></span><img src="./imgs/minoricon.png">
                        </div>
                        <div class="errordiv cf">
                            <p class="errortitle cf">Preheader remains as default</p>
                            <p class="errordesc cf">Line 54 - ‘Don't Miss Out - Complete Your Order Today!’</p>
                        </div>
                    </div>
                     <!-- End of Error Module -->



                     <!-- Start of Error Module -->
                    <div class="errormodule cf">
                        <div class="icondiv cf">
                            <span class="helper"></span><img src="./imgs/minoricon.png">
                        </div>
                        <div class="errordiv cf">
                            <p class="errortitle cf">Preheader remains as default</p>
                            <p class="errordesc cf">Line 54 - ‘Don't Miss Out - Complete Your Order Today!’</p>
                        </div>
                    </div>
                     <!-- End of Error Module -->



                     <!-- Start of Error Module -->
                    <div class="errormodule cf">
                        <div class="icondiv cf">
                            <span class="helper"></span><img src="./imgs/minoricon.png">
                        </div>
                        <div class="errordiv cf">
                            <p class="errortitle cf">Preheader remains as default</p>
                            <p class="errordesc cf">Line 54 - ‘Don't Miss Out - Complete Your Order Today!’</p>
                        </div>
                    </div>
                     <!-- End of Error Module -->



                     <!-- Start of Error Module -->
                    <div class="errormodule cf">
                        <div class="icondiv cf">
                            <span class="helper"></span><img src="./imgs/minoricon.png">
                        </div>
                        <div class="errordiv cf">
                            <p class="errortitle cf">Preheader remains as default</p>
                            <p class="errordesc cf">Line 54 - ‘Don't Miss Out - Complete Your Order Today!’</p>
                        </div>
                    </div>
                     <!-- End of Error Module -->



                     <!-- Start of Error Module -->
                    <div class="errormodule cf">
                        <div class="icondiv cf">
                            <span class="helper"></span><img src="./imgs/minoricon.png">
                        </div>
                        <div class="errordiv cf">
                            <p class="errortitle cf">Preheader remains as default</p>
                            <p class="errordesc cf">Line 54 - ‘Don't Miss Out - Complete Your Order Today!’</p>
                        </div>
                    </div>
                     <!-- End of Error Module -->



                     <!-- Start of Error Module -->
                    <div class="errormodule cf">
                        <div class="icondiv cf">
                            <span class="helper"></span><img src="./imgs/minoricon.png">
                        </div>
                        <div class="errordiv cf">
                            <p class="errortitle cf">Preheader remains as default</p>
                            <p class="errordesc cf">Line 54 - ‘Don't Miss Out - Complete Your Order Today!’</p>
                        </div>
                    </div>
                     <!-- End of Error Module -->



                     <!-- Start of Error Module -->
                    <div class="errormodule cf">
                        <div class="icondiv cf">
                            <span class="helper"></span><img src="./imgs/minoricon.png">
                        </div>
                        <div class="errordiv cf">
                            <p class="errortitle cf">Preheader remains as default</p>
                            <p class="errordesc cf">Line 54 - ‘Don't Miss Out - Complete Your Order Today!’</p>
                        </div>
                    </div>
                     <!-- End of Error Module -->



                     <!-- Start of Error Module -->
                    <div class="errormodule cf">
                        <div class="icondiv cf">
                            <span class="helper"></span><img src="./imgs/minoricon.png">
                        </div>
                        <div class="errordiv cf">
                            <p class="errortitle cf">Preheader remains as default</p>
                            <p class="errordesc cf">Line 54 - ‘Don't Miss Out - Complete Your Order Today!’</p>
                        </div>
                    </div>
                     <!-- End of Error Module -->



                     <!-- Start of Error Module -->
                    <div class="errormodule cf">
                        <div class="icondiv cf">
                            <span class="helper"></span><img src="./imgs/minoricon.png">
                        </div>
                        <div class="errordiv cf">
                            <p class="errortitle cf">Preheader remains as default</p>
                            <p class="errordesc cf">Line 54 - ‘Don't Miss Out - Complete Your Order Today!’</p>
                        </div>
                    </div>
                     <!-- End of Error Module -->

                </div>

            </section>

        </div>


    </body>
</html>