// Brand Colors
$primary-dark: #282828;
$white50: #868686;
$lightgrey: #e1e1e1;


// Font Stack - EXAMPLE CODE: font-family: $font-stack
$font-stack: 'Lato', Arial, sans-serif;


// Font Face - EXAMPLE CODE: @include font-face(lato,lato) 
@mixin font-face($fontfamily, $fontname){
	@font-face {
	font-family: '#{$fontfamily}';
    src: url('../fonts/#{$fontname}.eot');
    src: url('../fonts/.svg##{$fontfamily}') format('svg'),
          url('../fonts/#{$fontname}.eot?#iefix') format('embedded-opentype'),
         url('../fonts/#{$fontname}.woff') format('woff'),
         url('../fonts/#{$fontname}.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;	
	}
}


// Border Radius - EXAMPLE CODE: @include border-radius(5px 5px 10px 5px)
@mixin border-radius($radius) {
  border-radius: $radius;
  background-clip: padding-box;  /* Stops bg color from leaking outside the border */
}