// Brand Colors
$primary-grey: #232b2e;
$dark-grey: #1a1d1f;
$medium-grey: #616e73;
$light-grey: #ebebeb;
$pink: #ed028b;
$yellow: #ffb300;
$blue: #00adee;



// Font Stack - EXAMPLE CODE: font-family: $font-stack
$font-light: 'Whitney-Light', Arial, sans-serif;
$font-medium: 'Whitney-Medium', Arial, sans-serif;


// Font Face - EXAMPLE CODE: @include font-face(Whitney-Light,Whitney-Light) 
@mixin font-face($fontfamily, $fontname){
	@font-face {
	font-family: '#{$fontfamily}';
    src: url('../fonts/#{$fontname}.eot');
    src: url('../fonts/#{$fontname}.svg##{$fontfamily}') format('svg'),
         url('../fonts/#{$fontname}.eot?#iefix') format('embedded-opentype'),
         url('../fonts/#{$fontname}.woff') format('woff'),
         url('../fonts/#{$fontname}.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;	
	}
}


// Border Radius - EXAMPLE CODE: @include border-radius(5px 5px 10px 5px)
@mixin border-radius($radius) {
  border-radius: $radius;
  background-clip: padding-box;  /* Stops bg color from leaking outside the border */
}